{% extends 'account/base.html' %}
{% load static %}
{% block content %}
<!-- Modal -->

<style>



  


.card{
  width: 400px;
  border: none;
  border-radius: 10px;
   
  background-color: #fff;
}



.stats{

      background: #f2f5f8 !important;

    color: #000 !important;
}
.articles{
  font-size:10px;
  color: #a1aab9;
}
.number1{
  font-weight:500;
}
.followers{
    font-size:10px;
  color: #a1aab9;

}
.number2{
  font-weight:500;
}
.rating{
    font-size:10px;
  color: #a1aab9;
}
.number3{
  font-weight:500;
}
</style>




















<div class="main-panel">
  <div class="content-wrapper" >
    <div class="page-header">
      <h3 class="page-title"> List of FILE </h3>
      
      <nav aria-label="breadcrumb">
        
      
       
      </nav>
    </div>
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">


        <div class="table-title">
          <div class="row">
              <div class="col-sm-9"><h2>Position <b>Details</b></h2></div>
              <br>
              <div class="col-sm-1">
                <a href="upload" ><button class="btn btn-outline-success btn-icon-text"type="button">+ exporter file</button></a>
       
                 
               
                  
                 
              
                
                 
              </div>
                     </div>
      </div>

   





<div class="container mt-0">
    <div class="row">
        <div class="col-md-11"></div>
        {% comment %} <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
          <i class="fa fa-plus"></i> Upload CSV
        </button> {% endcomment %}
         
        </div>
    <div class="row">
   {%for x in data %}
      <div class="col-md-6 mt-6">
        <div class="card">

            <div class="card-body px-0 py-2-4">
                <div class="row">

                   
                    <div class="col-md-10">
                      <div class="card p-6">

                        <div class="d-flex align-items-center">
                  
                            <div class="image">
                        <img src="{% static 'assets/images/aa.png'%}" class="rounded" width="155" >
                        </div>
                  
                        <div class="ml-3 w-100">
                            
                           <h4 class="mb-0 mt-0">{{ x }}</h4>
                           <span>{{x.name}}</span>
                  
                           <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                  
                            <div class="d-flex flex-column">
                              <span class="followers">imported_by</span>
                              <span class="number2">{{x.imported_by}}</span>
                                
                                
                            </div>
                  
                            <div class="d-flex flex-column">
                  
                              <span class="articles">date</span>
                              <span class="number1">{{x.timestamp}}</span>
                                
                            </div>
                  
                  
                           
                               
                           </div>
                  
                  
                           <div class="button mt-2 d-flex flex-row align-items-center">
                            <a href="{% url 'table' x.id%}">
                              <button class="btn btn-sm btn btn-gradient-success  w-100">inspecter</button></a>
                  <a href="{% url 'table' x.id%}">
                            <button class="btn btn-sm btn btn-gradient-info btn-gradient-infox w-100">filtrer</button></a>
                            <button class="btn btn-sm btn btn-gradient-danger w-100 ml-2" onlick=PopUp()>supprimer</button>
                  
                               
                           </div>
                  
                  
                        </div>
                  
                            
                        </div>
                        
                    </div> 
                    </div>

                </div>
            </div>

        </div>

    </div>


    
   {%endfor%}
  



  </div>
</div>

</div>

</div>



</div>
</div>

</div>

</div>


</div>
</div>
</div>
{% endblock %}