{% extends 'account/base.html' %}
{% load static %}
{% block content %}
<!-- Modal -->

<style>

.content-wrapper{
  background-color: #111; 
}

  


.card{
  width: 400px;
  border: none;
  border-radius: 10px;
   
  background-color: #fff;
}



.stats{

      background: #f2f5f8 !important;

    color: #000 !important;
}
.articles{
  font-size:10px;
  color: #a1aab9;
}
.number1{
  font-weight:500;
}
.followers{
    font-size:10px;
  color: #a1aab9;

}
.number2{
  font-weight:500;
}
.rating{
    font-size:10px;
  color: #a1aab9;
}
.number3{
  font-weight:500;
}
</style>




















<div class="main-panel">
  <div class="content-wrapper" >
    <div class="page-header">
      <h3 class="page-title" style="color:#fff"  > List de fichier </h3>
      
      <nav aria-label="breadcrumb">
        
      
       
      </nav>
    </div>
<div class="row">
  <style>
    .content-wrapper{
      background-color: #181828; 
    }
   
    @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,300");
    
    .prec{
      background-color: #116;
      display: inline-block;
      padding: 6px 20px 6px 16px;
      border: 1px solid #111;
      box-shadow: inset 0 1px 0 rgba(255,255,255,.25);
      border-radius: 3px;
      color: #F5F5F5;
      text-shadow: 0 1px 0 rgba(0,0,0,.2);
      -webkit-font-smoothing: antialiased;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
      font-size: 15px;
      margin: 10px;
      text-decoration: none;
      position: relative;
    }
    
    .prec:before{
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      background: #116;
      left: -6px;
      top: -9px;
      border-radius: 4px;
      -webkit-transform: rotate(135deg);
      clip: rect(26px, 50px, 50px, 27px);
      box-shadow: inset 0px -1px 0 #111, inset -1px 0px 0 #111, inset 0px -2px 0 rgba(255,255,255, .2);
    }
    
    .prec:hover{
      background: #135;
    }
    
    .prec:hover:before{
      background:#135;
    }
    
    .prec:active{
      background: #135;
    }
    
    .prec:active:before{
      background: #135;
    }
  
  </style>
      <a href="javascript:history.go(-1)" class="prec" style="width:10%">
        &laquo; Previous 
      </a>
  <div class="col-12 grid-margin stretch-card">
    
    <div class="card">
      <div class="card-body">


        <div class="table-title">
          <div class="row">
              <div class="col-sm-9"><h2>List de <b>Fichier</b></h2></div>
              <br>
              <div class="col-sm-1">
                <a href="upload" ><button class="btn btn-outline-success btn-icon-text"type="button">+ Import fichier</button></a>
       
                 
               
                  
                 
              
                
                 
              </div>
                     </div>
      </div>

   





<div class="container mt-0">
    <div class="row">
        <div class="col-md-11"></div>
        {% comment %} <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
          <i class="fa fa-plus"></i> Upload CSV
        </button> {% endcomment %}
         
        </div>
    <div class="row">
   {%for x in data %}
      <div class="col-md-6 mt-6">
        <div class="card">

            <div class="card-body px-0 py-2-4">
                <div class="row">

                   
                    <div class="col-md-10">
                      <div class="card p-6">

                        <div class="d-flex align-items-center">
                  
                            <div class="image">
                        <img src="{% static 'assets/images/aa.png'%}" class="rounded" width="155" >
                        </div>
                  
                        <div class="ml-3 w-100">
                            
                           <h4 class="mb-0 mt-0">{{ x }}</h4>
                           <span>{{x.name}}</span>
                  
                           <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                  
                            <div class="d-flex flex-column">
                              <span class="followers">imported_by</span>
                              <span class="number2">{{x.imported_by}}</span>
                                
                                
                            </div>
                  
                            <div class="d-flex flex-column">
                  
                              <span class="articles">date</span>
                              <span class="number1">{{x.timestamp}}</span>
                                
                            </div>
                  
                  
                           
                               
                           </div>
                  
                  
                           <div class="button mt-2 d-flex flex-row align-items-center">
                            <a href="{% url 'table' x.id%}">
                              <button class="btn btn-sm btn btn-gradient-success  w-100">inspecter</button></a>
                  <a href="{% url 'filter' x.id %}">
                            <button class="btn btn-sm btn btn-gradient-info btn-gradient-infox w-100">filtrer</button></a>
                            <a href="{% url 'delit' x.id %}">    <button class="btn btn-sm btn btn-gradient-danger w-100 ml-2" onlick=PopUp()>supprimer</button>
                            </a>
                               
                           </div>
                  
                  
                        </div>
                  
                            
                        </div>
                        
                    </div> 
                    </div>

                </div>
            </div>

        </div>

    </div>


    
   {%endfor%}
  



  </div>
</div>

</div>

</div>



</div>
</div>

</div>

</div>


</div>
</div>
</div>
{% endblock %}